body {
	width: 100%;
	overflow-x: hidden;
}

.scrollable-panels-parent {
	width: 100%;
	height: 411px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.scrollable-panels-scroll-parent {
	height: 100%;
	display: inline-block;
	white-space: nowrap;
}
.scrollable-panels-image-parent {
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	text-align: center;
	background-color: #fff;
}		
.scrollable-panels-image {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	vertical-align: middle;
	margin: auto;
}

.scrollable-panels-image-parent:before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}

@media screen and (min-width: 320px) {
	.scrollable-panels-parent {
		height: 248px;
	}
	.scrollable-panels-image-parent {
		width: 181px;
	}
}

@media screen and (min-width: 480px) {
	
}

@media screen and (min-width: 768px) {
	.scrollable-panels-parent {
		height: 411px;
	}
	.scrollable-panels-image-parent {
		width: 300px;
	}
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1600px) {
    
}